body{
    background: linear-gradient(to right, #def2ff, rgb(255, 217, 186));
}

.alinear{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.alinear button{
    width: 150px;
    height: 50px;
    font-size: 24px;
    margin-bottom: 100px;
}

.contenedor{
    display: flex;
    padding: auto;
    align-items: center;
    margin-top: 40px;
    
}

.contenedor img{
    width: 500px;
    object-fit: cover;
    object-position: left center;
}

.contenedor .textoExplicacion{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.ConoceAlosPersonajes{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 35px;
}

.Historia{
    display: block;
    margin-top: 120px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.Autores{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 350px;
}

.AutoresDireccion{
    margin-top: 100px;
    display: block;
    margin-bottom: 150px;
}

.AutoresDireccion h2{
    margin-bottom: 40px;
}

.Autores img{
    transition: all 0.5s;
}
.Autores img:hover{
    transform: scale(1.1);
}

.juego{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.juego button{
    width: 150px;
    height: 50px;
    font-size: 24px;
    margin-bottom: 100px;
    border: solid 3px black;
}

header{
background-color:rgb(43, 89, 240);
height: 80px;
display: block;
max-width:100%;
margin:0;
}
header h1{ 
    padding: 10px;
    color: white;
    text-align: center;
}
.contenedor h3{
text-align:center ;
}
.textoh3{
    text-align: center;
    margin-top: 25px;
}

.flip-card{
    width:100%;
    height:400px;
    max-height:100%;
}

.back h4{
    background-color: rgb(172, 0, 172);
    padding: 10px;
    color: aliceblue;
}

.back h6{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.primera-card {
    margin-left: 13%; 
    
    
}
.segunda-card{
    margin-left: 7%;
    
}
.cuadro-texto{ 
    padding: 2px 8px;
    background-color: rgba(255, 255, 255, 0.616); 
    border-radius: 3px;
    color: black;
    font-weight: bold;
}

